<section class="p-3 p-md-4 p-xl-5">
  <div class="container">
    <div class="content">
      <svg viewBox="0 0 960 300">
        <symbol id="s-text">
          <text text-anchor="middle" x="50%" y="50%">404</text>
        </symbol>
        <g class="g-ants">
          <use xlink:href="#s-text" class="text"></use>
          <use xlink:href="#s-text" class="text"></use>
          <use xlink:href="#s-text" class="text"></use>
          <use xlink:href="#s-text" class="text"></use>
          <use xlink:href="#s-text" class="text"></use>
        </g>
      </svg>
      <h1>Page Not Found</h1>
      <a routerLink="/" class="btn bsb-btn-xl btn-outline-primary">       
        <span class="ms-2 fs-6">Back to login</span>
      </a>     
    </div>
  </div>
</section>
