<nav>
    <div class="navbar">
      <div class="container nav-container">
          <input class="checkbox" type="checkbox" name="" id="" />
          <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
          </div>  
        <div class="logo">
          <h1>Navbar</h1>
        </div>
        <div class="menu-items">
          <li><a routerLink="/admin/home">Home</a></li>
          <li><a routerLink="/admin/profile">Profile</a></li>          
          <li><a routerLink="." (click)="Logout()">Logout</a></li>          
        </div>
      </div>
    </div>
  </nav>